/* Reset all styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Set all the color variables */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
.dsd{
  color: #da3546;
  background-color: rgb(212, 50, 64);
}
body {
  font-family: montserrat;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #212529;
  background-color: #fff;
}
/* Responsive navbar */
.navbar {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: var(--light);
  justify-content: center;
  align-items: center;
}
.nav-wrapper {
  position: relative;
  max-width: var(--breakpoint-xl);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.nav-logo {
  height: 40px;
}
.nav-items {
  display: flex;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  margin-left: 2rem;
}
#hamburger{
  display: none;
}
@media (max-width: 992px) {
  .nav-wrapper {
    margin: 0 50px;
  }
}
@media (max-width: 768px) {
  .nav-wrapper{
    position: relative;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: var(--dark);
    margin: 5px;
    border-radius: 2px;
  }
  #hamburger {
    display: block;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(20%);
  }
  .nav-items{
    display: none;
  }
}
@media (max-width: 576px){
  .nav-wrapper{
    margin: 0 10px;
  }
}
/* General element basic styles */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
li,
a {
  text-decoration: none;
  color: var(--dark);
  letter-spacing: 2px;
}
a:hover {
  filter: brightness(80%);
}
/* General css classes */
.bg-dark {
  background: var(--dark);
  color: #fff;
}
.bg-light {
  background: var(--light);
  color: #000;
}
/* Fade up animation */
.fade-up {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Fade down animation */
.fade-down {
  animation-name: fadeDown;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Fade right animation */
.fade-right {
  animation-name: fadeRight;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Fade left animation */
.fade-left {
  animation-name: fadeLeft;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
